.wrapper {
    background-color: red;
}
e {
  color: transparent;
}
.rc1 {
  max-width: 65%;
  padding-top: 5%;
  margin: auto;
    background-color: blue  ;
}
.rc2 {
  max-width: 65%;
  margin: auto;
    background-color: green  ;
}
.rc3 {
  max-width: 55%;
  margin: auto;
    background-color: yellow  ;
}