.wrapper {
  background-color:  peachpuff;
}
e {
  color: transparent;
}

.bwrapper {
  background-color: aquamarine;
  margin-top: 25px;
}
.rc1 {
  max-width: 70%;
  justify-content: center;
  margin: auto;
    background-color: black  ;
    color: blanchedalmond;
}
.rc2 {
  max-width: 70%;
  margin: auto;
    background-color: white;
}
.rc3 {
  max-width: 65%;
  margin: auto;
    background-color: yellow  ;
} 
.flex-container {
  display: flex;
  justify-content: flex-end;
}